* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  font-family: sans-serif;
}

.image-section {
  background-image: url("./graphics/background.jpg");
  background-position: center;
  width: 33vw;
  height: 100vh;
  position: relative;
}

.logo-area {
  position: absolute;
  top: 150px;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  height: 120px;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 100px;
}

@font-face {
  font-family: norse-bold;
  src: url("./graphics/Norse-Bold.otf");
}

.logo-text {
  font-family: norse-bold;
  color: white;
  font-size: 75px;
  margin-left: 5px;
  margin-top: 15px;
}

.form-section {
  width: 67vw;
  background-color: #F9FAFB;
  height: 100vh;
  display: flex;
  align-items: center;
}

.form-container {
  padding: 140px 0;
}

.above-form-section,
.form,
.below-form-section {
  padding-left: 50px;
  padding-right: 50px;
}

.above-form-section {
  padding-right: 100px;
}

.above-form-section p {
  font-size: 18px;
  line-height: 1.4rem;
}

.form-background {
  background-color: white;
  box-shadow: 0px 5px 10px lightgrey;
  margin: 30px 0;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.form label {
  color: grey;
  font-size: 10px;
}

.label-input {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

h2 {
  font-size: 16px;
}

.submit-btn {
  background-color: orangered;
  border-style: none;
  color: white;
  padding: 10px 35px;
  border-radius: 7px;
  font-size: 15px;
  font-family: sans-serif;
  box-shadow: 0px 2px 5px lightgrey;
}

.below-form-section p {
  font-size: 13px;
  margin-top: 15px;
}

.login {
  font-weight: bold;
  color: orangered;
}

