* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  font-family: sans-serif;
}

.image-section {
  background-image: url("./graphics/background.jpg");
  background-position: center;
  width: 33vw;
  height: 100vh;
  position: relative;
}

.logo-area {
  position: absolute;
  top: 150px;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  height: 120px;
  align-items: center;
  justify-content: center;
}

.logo-image {
  height: 100px;
}

@font-face {
  font-family: norse-bold;
  src: url("./graphics/Norse-Bold.otf");
}

.logo-text {
  font-family: norse-bold;
  color: white;
  font-size: 75px;
  margin-left: 5px;
  margin-top: 15px;
}

.form-section {
  width: 67vw;
  background-color: #F9FAFB;
}

.form-container {
  padding: 150px 50px;
}

.above-form-section {
  padding-right: 100px;
}

.above-form-section p {
  font-size: 18px;
  line-height: 1.4rem;
}
